@import url('https://fonts.googleapis.com/css2?family=Montserrat')

body
    text-align: center
    color: blue
    font-family: 'Montserrat', 'sans-serif'

.flex-center
    display: flex
    justify-content: center
    align-items: center
    img
        width: 20vw